<script src="/node_modules/requirejs/require.js"></script>
<script src="/assets/js/config.js"></script>

<!--

<script src="/node_modules/jquery/dist/jquery.js"></script>
<script src="/node_modules/bootstrap/dist/js/bootstrap.js"></script>
<script src="/node_modules/jquery.cookie/jquery.cookie.js"></script>
<script src="/node_modules/art-template/lib/template-web.js"></script>
<script src="/assets/js/common.js"></script>-->

<!--<script src="./assets/nprogress/nprogress.js"></script>
<script src="./assets/echarts/echarts.min.js"></script>-->